:root {
  --color-primary: #ffb13b;
  --color-grey: #d5d5d5;
  --color-white: #f0f0f0;
  --color-black: #242528;
}

body {
  background-color: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-black);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
}

.square {
  fill: none;
  stroke-width: 10px;
}

.square--top {
  stroke-dasharray: 760;
  stroke-dashoffset: 760;
}

.inside {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  pointer-events: bounding-box;
}

.icon path {
  fill: var(--color-primary);
}

.icon:hover {
  box-shadow: 0 0 5px var(--color-grey);
  border-radius: 50%;
}

.hide {
  display: none !important;
}

.stroke--primary {
  stroke: var(--color-primary);
}

.stroke--secondary {
  stroke: var(--color-grey);
}

.animate {
  animation: animate 16s linear infinite;
}

.grow {
  animation: grow 16s linear infinite;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes grow {
  25% {
    scale: 175%;
  }

  50% {
    scale: 175%;
  }

  75% {
    scale: 100%;
  }

  100% {
    scale: 100%;
  }
}